html, body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  min-width: 260px;
  color: rgb(157, 180, 54);
}
#main {
  margin: 30px auto;
  padding: 15px;
  border: 0px solid;
  border-radius: 5px;
  background: maroon;
}
#image {
  max-width: 600px;
  display: block;
  height: auto;
  margin: auto;
}
#img-div {
  margin: -5px;
  margin-top: 20px;
  width: 100%;
  border: 5px solid rgb(47, 82, 76);
  background: lightseagreen;
}
#img-caption {
  margin: 15px;
  color: black;
}
#headline {
  margin-top: 20px;
  text-align: center;
}
ul {
  text-align: center;
  margin: 0px auto;
  max-width: 950px;
}
li {
  margin: 5px;
  text-align: left;
}
blockquote {
  font-style: italic;
}